.home {
  width: 80%;
  height: 100vh;
  margin: auto;
  position: relative;
  background-color: #e2fffa;
}

nav {
  background-color: #24753a;
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  justify-content: space-between;
}

.edit {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(10, 3, 31);
}

.edit img {
  width: 25px;
}

.getDetails {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.getDetails input {
  padding: 8px;
  border: none;
  border-radius: 16px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 4px;
}

.flex > svg {
  cursor: pointer;
}

.getDetails input:focus {
  outline: 2px solid #58bc82;
  box-shadow: 0px 2px 11px 3px rgba(188, 183, 183, 0.72);
  -webkit-box-shadow: 0px 2px 11px 3px rgba(188, 183, 183, 0.72);
  -moz-box-shadow: 0px 2px 11px 3px rgba(188, 183, 183, 0.72);
  cursor: pointer;
}

.getDetails button {
  margin: auto;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgb(10, 3, 31);
  color: white;
}

.getData h1 {
  text-align: center;
}

.pass {
  position: relative;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.pass svg {
  width: 20px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: gray;
}

.showData {
  overflow: hidden;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 16px;
  height: 35px;
}

.cardDetails {
  align-items: center;
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
  width: 96%;
  gap: 10px;
}


/* From Uiverse.io by adamgiebl */ 
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}